body {
	background: black;
}

  .cls-1{
    fill:#fffeff;

  }
  
  .cls-2{
    fill:#030202;
  }

  .typefaceFrame{
    opacity: 0;
  }
  
  .offsetmv{
    opacity: 1;
    animation: offsetprss 5000ms linear infinite;
  }

  @keyframes offsetprss {
    0% {
      stroke-dashoffset: 0;
    }

    50% {
      stroke-dashoffset: -100;
    }
    
    100% {
      stroke-dashoffset: 1000;
    }
  }

  


  #A{
    stroke: #9C51A0;
    stroke-width: 4;
    stroke-dasharray: 100;
    
  }



    #B{
    stroke: green;
    stroke-width: 4;
    stroke-dasharray: 100;
  }
  


  #C{
    stroke: orange;
    stroke-width: 4;
    stroke-dasharray: 100;
  }
  


  #D{
    stroke: blue;
    stroke-width: 4;
    stroke-dasharray: 100;
  }
  


  #E{
    stroke: pink;
    stroke-width: 4;
    stroke-dasharray: 100;
  }
  


  #F{
    stroke: red;
    stroke-width: 4;
    stroke-dasharray: 100;
  }
  


  #G{
    stroke: lightblue;
    stroke-width: 4;
    stroke-dasharray: 100;
  }
  

  #H{
    stroke: #DF96C1;
    stroke-width: 4;
    stroke-dasharray: 100;
  }
  


  #I{
    stroke: #21FC15;
    stroke-width: 4;
    stroke-dasharray: 100;
  }
  


  #J{
    stroke: #16F9E3;
    stroke-width: 4;
    stroke-dasharray: 100;
  }
  
  

  #K{
    stroke: #F97716;
    stroke-width: 4;
    stroke-dasharray: 100;
  }
  


  #L{
    stroke: #16F972;
    stroke-width: 4;
    stroke-dasharray: 100;
  }
  

  #M{
    stroke: lightblue;
    stroke-width: 4;
    stroke-dasharray: 100;
  }
  


  #N{
    stroke: #6BA583;
    stroke-width: 4;
    stroke-dasharray: 100;
  }
  


  #O{
    stroke: #A03D38;
    stroke-width: 4;
    stroke-dasharray: 100;
  }
  

  #P{
    stroke: #6B5D3E;
    stroke-width: 4;
    stroke-dasharray: 100;
  }
  


  #Q{
    stroke: #16F972;
    stroke-width: 4;
    stroke-dasharray: 100;
  }
  


  #R{
    stroke: #FFB000;
    stroke-width: 4;
    stroke-dasharray: 100;
  }
  


  #S{
    stroke: white;
    stroke-width: 4;
    stroke-dasharray: 100;
  }
  


  #T{
    stroke: blue;
    stroke-width: 4;
    stroke-dasharray: 100;
  }
  

  #U{
    stroke: orange;
    stroke-width: 4;
    stroke-dasharray: 100;
  }
  


  #V{
    stroke: grey;
    stroke-width: 4;
    stroke-dasharray: 100;
  }
  


  #W{
    stroke: #FFB000;
    stroke-width: 4;
    stroke-dasharray: 100;
  }
  


  #X{
    stroke: red;
    stroke-width: 4;
    stroke-dasharray: 100;
  }
  


  #Y{
    stroke: white;
    stroke-width: 4;
    stroke-dasharray: 100;
  }
  
 

  #Z{
    stroke: green;
    stroke-width: 4;
    stroke-dasharray: 100;
  }
  
