body {
	background: #cccccc;
}

.stage {
	width: 900px;
	height: 556px;
	margin: 100px auto;
	background: white;
	position: relative;
}
#matt {
	width: 620px;
	height: 100px;
	-webkit-transform: skew(20deg);
	   -moz-transform: skew(20deg);
	     -o-transform: skew(20deg);
	background: red;
	top: 370px;
	left: 60px;
	position: absolute;
}
#flower {
	background: yellow;
    width: 80px;
    height: 80px;
    position: absolute;
    text-align: center;
    left: 140px;
}

}
#flower1 {
	background: yellow;
    width: 80px;
    height: 80px;
    position: absolute;
    text-align: center;
    -webkit-transform: rotate(30deg);
       -moz-transform: rotate(30deg);
        -ms-transform: rotate(30deg);
         -o-transform: rotate(30deg);
          left: 140px;
}
#flower2 {
	background: yellow;
    width: 80px;
    height: 80px;
    position: absolute;
    text-align: center;
    -webkit-transform: rotate(60deg);
       -moz-transform: rotate(60deg);
        -ms-transform: rotate(60deg);
         -o-transform: rotate(60deg);
         box-shadow: 11px -2px 5px -6px orange;
          left: 140px;
}
#flower3 {
	background: yellow;
    width: 80px;
    height: 80px;
    position: absolute;
    text-align: center;
    -webkit-transform: rotate(90deg);
       -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
         -o-transform: rotate(90deg);
          box-shadow: 11px -2px 5px -6px orange;
          left: 140px;
}

#stem1 {
	width: 10px;
	height: 150px;
	background: green;
	top: 153px;
	left: 160px;
	transform: rotate(-8deg);
	position: absolute;

}
#stem2 {
	width: 10px;
	height: 100px;
	background: green;
	top: 59px;
	left: 160px;
	transform: rotate(12deg);
	position: absolute;

}
#vase {
	width: 150px;
	height: 140px;
	background: red;
	border-radius: 150px;
	top: 303px;
	left: 100px;
	box-shadow: 1px 18px 75px -6px black;
	position: absolute;
}

#orange {
	width: 64px;
	height: 68px;
	background: orange;
	border-radius: 150px;
	top: 357px;
	left: 354px;
	box-shadow: -1px 13px 38px -6px black;
	position: absolute;
}

#swanbody {
    width: 54px;
    border-width: 50px 18px 0;
    border-style: solid;
    border-color: pink transparent;
    top: 363px;
    left: 534px;

    position: absolute;
}
#swanneck3 {
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 30px solid pink;
	position: absolute;
	top: 281px;
	left: 624px;
	transform: rotate(92deg);
}
#swanneck2 {
	border-bottom: 76px solid pink;
	border-left: 17px solid transparent;
	height: 0;
	width: 8px;
	top: 290px;
	left: 590px;
	position: absolute;
}
#swanneck {
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 35px solid transparent;
	border-bottom: 150px solid pink;
	top: 232px;
	left: 539px;
	transform: rotate(-7deg);
	position: absolute;
	
}
#head {
	width: 40px;
	height: 30px;
	background: red;
	border-radius: 30px;
	top: 292px;
	left: 154px;
	position: absolute;
}
/* animations */

/*
#clip:hover {
	transform: rotate(1200deg);
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@keyframes move {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(100px);
  }
}

*/